importFrom("graphics", "par")
importFrom("stats", "median", "predict", "quantile")
importFrom("sf","st_as_sf")
importFrom("tmap", "tm_shape", "tm_fill", "tmap_leaflet")

exportPattern("^[[:alpha:]]+")
